/* Map.css */

.map-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dbdbdb;
}

canvas {
    width: 100%;
    height: 100%;
}