.TabbedNavigation {
    align-items: flex-start;
    display: inline-flex;
    gap: 32px;
    left: 68px;
    position: absolute;
    top: 45px;
}

.Inactive {
    color: #c0c0c0;
    font-family: "Inter", Helvetica;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -0.56px;
    line-height: 30.8px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.Active {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -0.56px;
    line-height: 30.8px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}