.background {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.SwitchContainer {
    display: flex;
    position: relative;
    width: 300px;
    /* Adjust as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    border-radius: 25px;
    /* Make the container rounded */
}

.ToggleItem {
    flex: 1;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.Text {
    font-size: 14px;
}

.Slider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 33.33%;
    /* 100% divided by number of options */
    background-color: #d0d0d0;
    transition: transform 0.3s ease;
    z-index: 0;
    border-radius: 25px;
    /* Make the slider rounded */
    font-weight: bold;
}