.dashboard-container {
    padding: 20px;
    height: 100vh;
    /* Ensure it takes the full height of the viewport */
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 40%;
    /* Adjust to 30% of the screen */
}

.chart {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0;
    margin: 10px;
    width: 49%;
    height: 100%;
    /* Adjusted height to fit 30% of the screen */
    position: relative;
}

.chart h2 {
    padding: 10px;
    margin: 0;
}

.section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 60%
}

.section-left,
.section-right {
    width: 47%;
    align: top;
}

.section-right {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-group input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: darkgray;
}

.test-button {
    padding: 10px 20px;
    background-color: lightgray;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.test-button:hover {
    background-color: gray;
    color: white;
}

.dropdown {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.chart-container {
    height: calc(100% - 40px);
}

.logo {
    height: 15vh;
    /* Set the height to 15% of the viewport height */
    width: auto;
    /* Maintain aspect ratio */
    max-width: 100%;
    /* Ensure it does not exceed the container's width */
}