@keyframes backgroundAnimation {
    0% {
        background-image: url('../images/1.png');
    }

    20% {
        background-image: url('../images/2.png');
    }

    40% {
        background-image: url('../images/3.png');
    }

    60% {
        background-image: url('../images/4.png');
    }

    80% {
        background-image: url('../images/5.png');
    }

    100% {
        background-image: url('../images/1.png');
    }
}

.home-container {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    animation: backgroundAnimation 10s infinite;
    /* Animation lasts 10 seconds and loops infinitely */
}

.home-content {
    max-width: 400px;
    text-align: right;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.home-title {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.home-paragraph {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.home-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: darkblue;
}