/* WASDControl.css */
.wasd-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wasd-control .button-side {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.wasd-control button {
    /* Add your button styles here. For example: */
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.wasd-control button:active {
    /* Add your active button styles here. For example: */
    background-color: #3e8e41;
    /* Darker green */
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.wasd-control .active {
    /* Add your active button styles here. For example: */
    background-color: #3e8e41;
    /* Darker green */
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}