/* ControlPage.css */

.ControlPage {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  background: white;
}

.NavigationBar {
  grid-column: 1 / span 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

.Navigation,
.Dashboard,
.AboutMe {
  font-size: 28px;
  font-weight: 600;
  line-height: 30.8px;
  word-wrap: break-word;
}

.Navigation {
  color: black;
}

.Dashboard,
.AboutMe {
  color: #C0C0C0;
}

.Rectangle12 {
  width: 136px;
  height: 70px;
  background: #00CB21;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: center;
}

.PrimaryButton {
  width: 264px;
  height: 81px;
  padding-left: 16px;
  padding-right: 16px;
  background: #A9A8A8;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: inline-flex;
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: start;
}

.AutonomousDrive {
  color: white;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  word-wrap: break-word;
}

.BatteryContainer {
  width: 159px;
  height: 75px;
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: end;
}

.MapContainer {
  grid-column: 3;
  grid-row: 2 / span 2;
  background: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Camera {
  grid-column: 1 / span 2;
  grid-row: 3;
  background: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: black;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.JoystickContainer {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  grid-column: 1;
  grid-row: 2;
  justify-self: start;
}